$v-background-color: #E4F9F5;
$v-app-background-color: #11999E;
$v-panel-background-color: rgba(142, 192, 188, 0.73);
$v-focus-color: #5e7772;

$v-table-row-height: 25px;
$v-table-header-font-size: 12px;
$v-textfield-border: 1px solid #4e9ea1;

$v-selection-item-selection-color: #08ff00;

$v-border: 1px solid #11999E !default;
$v-font-family: Verdana,tahoma,arial,geneva,helvetica,sans-serif,"Trebuchet MS";